body {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background: linear-gradient(to bottom, #ccccff 0%, #ff99cc 100%);
  }

  .no__body{
    background: #000;
  }

  .yes__body{
    background: linear-gradient(to bottom, #ffccff 0%, #ff66cc 100%);
  }

  .gif_container{
    display: flex;
    justify-content: center;
  }

  ul{
    list-style-type: none;
  }
  
  .main_container {
    background: transparent;
    color: #fff;
    text-align: center;
  }

  .question{
    font-size: 24px;
    margin-bottom: 20px;
  }

  .buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
  }

  .buttons_el:not(:last-child){
    margin-bottom: 15px;
  }

  button {
    height: 42px;
	border: none;
	background: #FF00FF;
	color: #f2f2f2;
	padding: 10px 20px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease; 
}

.btn_noPage{
    background: #fff;
    color: #000; 
}

button:hover {
	background-color: #fff;
	color: #F08080;
	box-shadow: inset 0 0 0 2px #F08080;
}

  
@media screen and (max-width: 760px) {

     .gif__img {
        width: 70%;
    } 
    
} 
